<footer class="bg-castleton-green px-4 py-12 text-white">
  <div class="w-full mx-auto lg:w-10/12">
    <div class="grid gap-8 md:grid-cols-4 md:gap-0">
      <div>
        <img class="w-32" src='{{ "images/logo_footer.png" | absURL }}' alt="Logo CACTI" />
      </div>
      <ul class="font-bold">
        <li><a href="">About us</a></li>
        <li><a href="">Know how</a></li>
        <li><a href="">Increasing impact</a></li>
        <li><a href="">Events</a></li>
        <li><a href="">Become a member</a></li>
      </ul>
      <div>
        <p class="font-bold">Follow our stories</p>
        <ul class="flex items-center space-x-4 mt-4">
          <li>
            <a href="" target="_blank" rel="noopener noreferrer">
              <img src='{{ "icons/fb.svg" | absURL }}' alt="">
            </a>
          </li>
          <li>
            <a href="" target="_blank" rel="noopener noreferrer">
              <img src='{{ "icons/tw.svg" | absURL }}' alt="">
            </a>
          </li>
          <li>
            <a href="" target="_blank" rel="noopener noreferrer">
              <img src='{{ "icons/ig.svg" | absURL }}' alt="">
            </a>
          </li>
        </ul>
        <p class="mt-4"><a href="mailto:hello@cacti.community">hello@cacti.community</a></p>
      </div>
      <div>
        <img src='{{ "icons/cc.svg" | absURL }}' alt="">
        <p class="mt-4 leading-tight text-xs">Todo el material en esta página, cuando no se indique lo contrario, es CC-BY-SA. Si reutilizas o adaptas recursos de esta página por favor vincúlalos y referéncialos.</p>
      </div>
    </div>
    <div class="flex flex-wrap justify-around items-center mt-12 -mx-4">
      <div class="px-4 py-4">
        <img class="w-24" src='{{ "images/hivos.png" | absURL }}' alt="Logo Hivos">
      </div>
      <div class="px-4 py-4">
        <img class="w-32" src='{{ "images/datasketch.svg" | absURL }}' alt="Logo Datasketch">
      </div>
      <div class="px-4 py-4">
        <img class="w-20" src='{{ "images/agency.svg" | absURL }}' alt="Logo Agency">
      </div>
      <div class="px-4 py-4">
        <img class="w-24" src='{{ "images/uvt.png" | absURL }}' alt="Logo UVT">
      </div>
      <div class="px-4 py-4">
        <img class="w-20" src='{{ "images/poder.png" | absURL }}' alt="Logo PODER">
      </div>
    </div>
  </div>
</footer>
