{{ define "main" }}
<div class="bg-soft-white px-4 py-20 bg-no-repeat bg-contain bg-right-bottom" style='background-image: url({{ "images/home_banner.png" | absURL }})'>
  <div class="w-full mx-auto lg:w-10/12">
    <div class="max-w-2xl mx-auto">
      <h1 class="font-bold text-4xl leading-tight lg:text-5xl">
        <span class="text-outrageous-orange block">CACTI Ideas (during COVID)</span> 
        <span class="text-castleton-green">Collective of Anti-Corruption and Tech Initiatives</span>
      </h1>
      <div class="text-right">
        <a href="#" class="bg-castleton-green text-white px-3 py-2 font-semibold tracking-wide text-lg">Learn more</a>
      </div>
    </div>
  </div>
</div>
<!---->
<div class="bg-soft-white px-4 py-16">
  <div class="w-full mx-auto lg:w-10/12 space-y-32">
    <div class="flex flex-col md:flex-row md:items-start lg:space-x-16">
      <div class="md:w-1/2">
        <img class="w-7/12 mx-auto" src='{{ "images/podcast.png" | absURL }}' alt="">
      </div>
      <div class="mt-10 text-castleton-green md:w-1/2 md:mt-0">
        <h2 class="font-bold text-4xl leading-tight lg:text-5xl">Why another podcast?</h2>
        <div class="mt-10 space-y-8 lg:text-lg">
          <p>Our idea was to host the greatest anti-corruption event in Timisoara, but then COVID. Our frustration around not being able to share our thoughts and inspiration over a beer drove us to create this space to speak about the future of the agenda, looking at the “new normal” and even beyond, towards potential futures. </p>
          <p>Listen to us talk about how CACTI was born and evolved, what space we want to create, and most exictingly hear how anti-corruption heros have been anticipating changes in the future.</p>
        </div>
      </div>
    </div>
    <!---->
    <div class="grid gap-16 md:grid-cols-2 lg:grid-cols-3">
      <div class="text-castleton-green flex flex-col items-start">
        <p class="text-outrageous-orange italic font-bold">Episode 1</p>
        <p class="font-bold text-xl">No way to Tisimura</p>
        <p class="mt-4 flex-grow">How is too many formal Zoom calls and a lack of information communication affecting us? How does this situation affect the events that are held? How will events change whe...</p>
        <a href="" class="inline-block mt-4 bg-castleton-green text-white font-semibold px-3 py-2">Listen now</a>
      </div>
      <div class="text-castleton-green flex flex-col items-start">
        <p class="text-outrageous-orange italic font-bold">Episode 2</p>
        <p class="font-bold text-xl">I’m running on fumes</p>
        <p class="mt-4 flex-grow">We used to have robust agendas and conversations aside from COVID, now the virus has seeped into every aspect of our work. XXX has launch a non covid related project in may...</p>
        <a href="" class="inline-block mt-4 bg-castleton-green text-white font-semibold px-3 py-2">Listen now</a>
      </div>
      <div class="text-castleton-green flex flex-col items-start">
        <p class="text-outrageous-orange italic font-bold">Episode 3</p>
        <p class="font-bold text-xl">New cacti on my desktop</p>
        <p class="mt-4 flex-grow">Suddenly all our work had a new and unexpected angle that had appeared during the pandemia. How XXXX had detected this opportunity and is dealing with this.</p>
        <a href="" class="inline-block mt-4 bg-castleton-green text-white font-semibold px-3 py-2">Listen now</a>
      </div>
      <div class="text-castleton-green flex flex-col items-start">
        <p class="text-outrageous-orange italic font-bold">Episode 4</p>
        <p class="font-bold text-xl">I think you’re muted</p>
        <p class="mt-4 flex-grow">We all hate meetings, but meetings on Zoom, all day every day, are even worse. What are the challenges that a not technical, nascent civil movement is facing in order to...</p>
        <a href="" class="inline-block mt-4 bg-castleton-green text-white font-semibold px-3 py-2">Listen now</a>
      </div>
      <div class="text-castleton-green flex flex-col items-start">
        <p class="text-outrageous-orange italic font-bold">Episode 5</p>
        <p class="font-bold text-xl">¿Cómo se prepara un nopal?</p>
        <p class="mt-4 flex-grow">Roundtable in spanish with XXX, XXX and XXX speaking the specific challenges in a Spanish speaking context.</p>
        <button class="inline-block mt-4 bg-space-crayola text-white font-semibold px-3 py-2 cursor-not-allowed opacity-50" disabled>Coming soon</button>
      </div>
      <div class="text-castleton-green flex flex-col items-start">
        <p class="text-outrageous-orange italic font-bold">Episode 6</p>
        <p class="font-bold text-xl">A bat eating a cactus</p>
        <p class="mt-4 flex-grow">A year in covid and go on. XXX explains what interesting trends had detect during this 12 months and what will be the nexts years, hopefully, without pandemia.</p>
        <button href="" class="inline-block mt-4 bg-space-crayola text-white font-semibold px-3 py-2 cursor-not-allowed opacity-50" disabled>Coming soon</button>
      </div>
    </div>
    <!---->
    <div class="flex flex-col-reverse md:flex-row md:items-start lg:space-x-16">
      <div class="mt-10 text-castleton-green md:w-1/2 md:mt-0">
        <h2 class="font-bold text-4xl leading-tight lg:text-5xl">Where we stand</h2>
        <div class="mt-10 space-y-8 lg:text-lg">
          <p>Strange times. Everything before COVID is now forever in the past. The present is more volatile than ever and the future will arrive suddenly, changing everything we know. In the blink of an eye, the world will change in so many ways, we can’t imagine. All of this is happening while we are stuck in front of our computers, isolated from our peers and friends, with an enormous lack of inspiration and stimulant conversations.</p>
          <p>Anti-corruption work needs not only to keep up, but to anticipate changes in the future. We need to move from being reactive to proactive. We believe the only way efforts can truly be successful and impactful is by sharing technologies, projects, experiences and ideas, globally.</p>
          <p class="font-bold italic text-xl lg:text-2xl">This is why we want to create CACTI: A collective of <span class="text-outrageous-orange">do-ers</span> from around the globe that want to work and learn together to <span class="text-outrageous-orange">more effectively combat corruption.</span></p>
          <p>To kickoff this space of much-needed inspiration, we’re launching this collective with a video podcast. A place to hear and see the work of this community of activists, advocates, journalists, and academics. A place to be inspired and to be able to apply this inspiration in your own work. A place to push our thinking into the future and contemplate implications and opportunities in our work. More than ever we have to continue sharing ideas to be prepared for what is coming.</p>
        </div>
      </div>
      <div class="md:w-1/2">
        <img class="w-2/3 mx-auto" src='{{ "images/believe.png" | absURL }}' alt="">
      </div>
    </div>
  </div>
</div>
<!---->
<div class="bg-castleton-green px-4 py-16 text-white">
  <div class="w-full mx-auto lg:w-10/12">
    <h2 class="font-bold text-4xl text-center lg:text-5xl">What we do</h2>
    <div class="grid gap-16 mt-16 md:gap-4 md:grid-cols-3">
      <div class="flex flex-col text-center items-center space-y-6">
        <img src='{{ "icons/lightbulb.svg" | absURL }}' alt="">
        <p class="lg:w-64">Create a collective space for sharing experiences, inspiration, and ideas around the evolution of anti-corruption work.</p>
      </div>
      <div class="flex flex-col text-center items-center space-y-6">
        <img src='{{ "icons/loop.svg" | absURL }}' alt="">
        <p class="lg:w-64">Create a common pool of resources to fuel our anti-corruption, transparency, accountability, and civic tech work.</p>
      </div>
      <div class="flex flex-col text-center items-center space-y-6">
        <img src='{{ "icons/ballot.svg" | absURL }}' alt="">
        <p class="lg:w-64">Document failures and successes in the fight against corruption, to guide our peers in their own work.</p>
      </div>
    </div>
  </div>
</div>
<!---->
<div class="bg-soft-white px-4 py-16 text-denim-blue">
  <div class="w-full mx-auto lg:w-10/12">
    <p class="mx-auto max-w-md text-center text-xl leading-tight lg:text-2xl">We are a team of civic advocates focused on new ways to proactively detect, address, and prevent corruption.</p>
    <h2 class="font-bold text-5xl text-center mt-12 leading-tight lg:text-6xl">Be part of our community</h2>
    <div class="grid gap-16 mt-20 md:gap-4 md:grid-cols-3">
      <div class="flex flex-col text-center items-center space-y-6">
        <img src='{{ "icons/headphones.svg" | absURL }}' alt="">
        <p class="lg:w-64">Listen to our podcast with new episodes every month!</p>
        <a href="#" class="bg-denim-blue text-white px-3 py-2 font-semibold tracking-wide">Listen now</a>
      </div>
      <div class="flex flex-col text-center items-center space-y-6">
        <img src='{{ "icons/airplane.svg" | absURL }}' alt="">
        <p class="lg:w-64">Join our Telegram group to participate in the conversation.</p>
        <a href="#" class="bg-denim-blue text-white px-3 py-2 font-semibold tracking-wide">Join group</a>
      </div>
      <div class="flex flex-col text-center items-center space-y-6">
        <img src='{{ "icons/clipboard.svg" | absURL }}' alt="">
        <p class="lg:w-64">Tell us about yourself and get to know the community.</p>
        <a href="#" class="bg-denim-blue text-white px-3 py-2 font-semibold tracking-wide">Fill this form</a>
      </div>
    </div>
  </div>
</div>
{{ end }}